<div class="col-sm-8 blog-main">
  <h1><%= @topic.title %></h1>
  <% if @blogs.length > 0 %>
    <%= render @blogs %>
  <% else %>
    <p>No blog associated this topic. pleae go and make some blogs related to <%= @topic.title %></p>
  <% end%>
</div>


