<div class="card" data-id="<%=portfolio_item.id %>">

    <%= image_tag portfolio_item.thumb_image.url, width: '300', alt: "image" %>
    <p class="card-text">
        <small><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></small>
        <%=portfolio_item.subtitle %>
    </p>
</div>