<p>
    <div class="collapse" id="Education">
        <div class="card card-blog">
            education 1
        </div>
        <div class="card card-blog">
            education 2
        </div>
    </div>
</p>