<p>
    <div class="collapse" id="jobHistory">   
        <div class="card card-blog">
            Job 1
        </div>
        <div class="card card-blog">
            Job 2
        </div>
    </div>
</p>
    