<div>
    <div class="alert alert-success  skills-blog">
        <p>Sorry, there is no skill,<%= current_user.name %> add some more skills</p>
        <p>
            <%= link_to "add skills", new_skill_path, class: "btn btn-primary" %>
        </p>
    </div>
</div>