<h1>Would you like to work together?</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Office Address:</h4>
        <p>18, Greater Vaishali Nagar,<br />
            2nd Floor, Surya Avenue, Gopur Square <br />
            Near Mithas Sweets and Opposite to Madhuram.<br /> 
            Indore, India, 452001<br />
        </p>
    </div>
    <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.217591046045!2d75.82691631443608!3d22.682942434628934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcf129b6ad6b%3A0x2f740b60bcda116d!2sGems+Essence+Infotech+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1545718182200" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>